<form class="form" [formGroup]="pageForm">
  <h2>Adicionar</h2>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Image:tag</mat-label>
    <input matInput type="text" formControlName="worker" placeholder="Image" />
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Name:</mat-label>
    <input matInput type="text" formControlName="name" placeholder="Name" />
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Port (external:internal):</mat-label>
    <input matInput type="text" formControlName="port" placeholder="Port" />
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Environment:</mat-label>
    <input
      matInput
      type="text"
      formControlName="environment"
      placeholder="Environment"
    />
  </mat-form-field>
  <button class="button" mat-raised-button (click)="postContainer()">
    Enviar
  </button>
</form>
