<form class="form" [formGroup]="pageForm">
  <h2>Adicionar</h2>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>tag:</mat-label>
    <input matInput type="text" formControlName="worker" placeholder="Image" />
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Name:</mat-label>
    <input matInput type="text" formControlName="name" placeholder="Name" />
  </mat-form-field>
 
  <button class="button" mat-raised-button (click)="postImage()">
    Enviar
  </button>
</form>
